/* English Page Layout */
.english-page {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 8%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  
  .heading-text {
    font-family: 'Montserrat', sans-serif;
    color: #f4b41a;
    font-size: 1.6rem;
  }
  
  /* Grade Section */
  .grade-section {
    margin: 40px 0;
  }
  
  .grade-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #2b6599;
    text-align: center;
    display: inline-block;
  }
  
  /* Video Slider */
  .video-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    background: #91c5eb;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  
  /* Video Card */
  .video-card {
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    background-color: #2b6599;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .video-card:hover {
    transform: scale(1.05);
  }
  
  .video-thumbnail {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .video-card h3 {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
  }
  